.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.player {
  float: right;
  width: 45%;
}

.axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Avenir Next Condensed", "Helvetica", sans-serif;
  font-size: 08pt;
}
