.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.player {
  float: right;
  width: 45%;
}

.label {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  font-family: "Rokkitt", sans-serif;
  color: #444;
  border: 2px solid #444;
  border-radius: 5px;
}

.axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Avenir Next Condensed", "Helvetica", sans-serif;
  font-size: 08pt;
}
